/**
* LoginForm styles
*/
.LoginForm--Container {
  display: flex;
  flex-direction: row;
  width: 960px;
  justify-content: space-around;
}

.LoginForm--Field {
  padding-top: 10px;
  padding-bottom: 10px;
}

.LoginForm--Error {
  color: #d75a4a;
  font-size: 14px;
}
