/**
* Form styles
*/
.Form--Container {
  display: flex;
  flex-direction: row;
  width: 960px;
  justify-content: space-around;
}

.Form--Field {
  padding-top: 10px;
  padding-bottom: 10px;
}

.Form--Error {
  color: #d75a4a;
  font-size: 14px;
}
